*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Basic style */
html {
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;    
    background-color: #2a323c;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #057b88;
}

ul {
    list-style: none;
}

body {
    position: relative;
}

main {
    position: relative;
    top: 5rem;
    left: 15%;
    padding: 4rem;    
    color: #fff;
}

hr {
    width: 80%;
    border: none;
    padding: .5rem;
    border-bottom: 1px solid #038b9a;
}

/* Navbar */
.nav-container {
    background-color: #fff;
    border-right: 1px solid #000;
    height: 100vh;
    width: 15%;
    display: inline-block;
    position: fixed;
}

.nav-brand {    
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.nav-list li {
    font-size: 1.3rem;
    padding-left: 3rem;    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.icon-container {    
    position: fixed;
    top: 0;    
    left: 15%;
    width: 85%;
    height: 6rem;
    background-color: #232931;
    border-bottom: 1px solid #038b9a;
    color: #fff;
    font-size: 1.3rem;
    z-index: 100;
}

.icon-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}

.icon-items span {
    margin: 2rem;
}


/* Error */
.alert-container {    
    margin: 2rem;
    width: 40%;
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;    
    border: 1px solid transparent;
    border-radius: .25rem;    
    font-size: 1.3rem;
}

.alert-container i {
    font-size: 2rem;
    margin-right: 1.3rem;
}

.success-container {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error-container {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/* Dashboard */
.dashboard-container {
    width: 85%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dash-title {
    font-size: 3rem;    
}

.dash-item {
    display: inline-block;
    background-color: #323c48;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    height: 15rem;
    width: 25rem;
    padding: 4rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.dash-item p {
    padding: 1rem;    
    font-size: 2rem;
}

.dashboard-movies {
    margin: 5rem;
    font-size: 2.5rem;    
}

.dashboard-movies hr {
    width: 16.5%;
}

.dashboard-movies > a {
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid #038b9a;
    padding: 1rem;
    transition: all .3s ease-in-out;
}

.dashboard-movies > a:hover {
    border: 1px solid #fff;
    color: #038b9a;
}

.movies-container {
    padding: 2rem;
    display: grid;
    max-width: 65%;    
    grid-template-columns: repeat(4, 1fr);  
    row-gap: 2rem;      
}

.movie {    
    width: 150px;    
}

.movie img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


/*  */
.content-container {
    background-color: #323c48;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: normal;   
     
}

.content-container label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
}

.content-container h4 {
    display: inline;  
    font-size: 1.5rem;
    font-weight: 300;      
}

.content-container input, select {
    background-color: #3b4654;
    border-radius: 2px;
    border: 1px solid #4a5869;
    color: #fff;
}

.content-container input {
    height: 3rem;
}

.btn {
    background-color: #038b9a;
    color: #fff;    
    border: none;
    height: 3rem;
    width: 9rem;    
    border-radius: 2px;
    cursor: pointer;    
    margin: 0 auto;       

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete {
    background-color: #f8d7da;
    color: #2a323c;
}

.btn-modify {
    background-color: #038b9a;
}

.content-container > table > tbody > td > a {
    display: inline-block;
}

.content-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    font-weight: 300;     
}

.content-container tr > th,
.content-container tr > td {    
    border: 1px solid rgba(152, 164, 185, 0.25);
    height: 4rem;
}

.content-container td, th {
    padding: 1.3rem;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions-container i {
    margin: .2rem;
}

.actions-container a:hover {
    color: #000;    
}

/* Add movie */
.suggestions-container {
    margin: 2rem;    
    padding: 2rem;
    width: 80%;
    background-color: #232931;    
    border-radius: 5px;
}

.suggestions-container p {
    font-size: 1.5rem;    
    margin-bottom: 2rem;
}

.movie-list {    
    width: 95%;
}

.movie-item {
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.movie-item img {
    width: 150px;        
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.movie-item h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.movie-item p {
    color: rgba(255 ,255, 255, 0.75);
}

.movie-item a {
    font-size: 1.3rem;
}
