*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Basic style */
html {
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    color: #fff;    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #222831;    
}

section {
    padding: 10em 0;
}

hr {
    color: yellow;
    width: 70px;          
    margin: 0 auto;
    border: none;
    border-top: 1px solid yellow;  
}


/* Navbar */
.nav-container {
    position: absolute;
    top: 0rem;
    left: 5%;
    height: 6rem;
    width: 90%;
    margin: 0 auto;        
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;    
    text-transform: uppercase;
    z-index: 100;    
}

.nav-brand i {
    font-size: 1.4rem;    
    text-transform: none;    
    font-style: normal;
    color: #fff;    
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}

.nav-brand i span {
    font-size: 2rem;
    color: yellow;
}

.nav-list {
    display: flex;
    width: 40%;        
    justify-content: space-around;    
}

.nav-link {
    font-weight: 600;
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
    color: #fff;    
    transition: all 300ms linear;
}

.nav-link:hover {
    color: rgba(255, 255, 0, 1);
}

.sub-menu {
    width: 13rem;
    display: block;
    position: absolute;
    border-top: 3px solid yellow;
    border-radius: 1rem;
    background-color: #191919;
    z-index: 100;
    top: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;        
    box-shadow: 3px 3px 15px 2px rgba(0,0,00.75);
}

.sub-menu::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: yellow;
}

.nav-list li:hover > .sub-menu {
    top: 5rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li a:hover {
    color: yellow;
}

.sub-menu li {
    line-height: 4rem;
    text-align: center;
}

.text-s {
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}


/* Hero */
.super {
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 90%, 68% 100%, 32% 100%, 0 90%, 0 0, 100% 0);    
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-bottom: 100px;    
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.hero-intro {        
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 4rem;
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
    color: #fff;            
}

.hero-intro h1 span {
    color: yellow;
}


/* Sections */
.container {
    max-width: 1140px;
    margin: 0 auto;    
    text-align: center;
}

.container-large {
    max-width: 1300px;
    margin: 0 auto;     
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
}

.s-2 {
    background-color: #171b21;
}


/* Glider slider - Extra style */
.glider {
    overflow: hidden;
}

.glider figure a h2 {    
    color: #fff;
    font-weight: 100;
    padding: .8em;
}

.glider figure a img {
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);    
}


/* Parallax */
.parallax-banner {
    height: 40rem;
    background-image: url('/MoviePass/Views/assets/img/w2.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #171b21;
    border-bottom: 1px solid #171b21;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;    
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}


/* Footer */
.ft-container {
    background-color: #171b21;    
    padding: 6rem 0;
    text-align: center;
}

.ft-container p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}


/* Movie page */
.more-movies {
    display: block;    
    height: 2rem;
    width: 10%;
    margin: 0 auto;
    margin-top: 1.5rem;
    color: #fff;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-h {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-position: center;    
    background-size: cover;        
    border-bottom: 1px solid #000;
    margin-bottom: 7rem;

}

.filter-container {
    padding-bottom: 10rem;     
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 4rem;      
}

.filter-container h4 {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.filter-form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    font-size: 1.3rem; 
}

.filter-form select,
.filter-form input {
    margin-left: 1rem;
    padding: .5rem;
    color: #fff;
    text-align: center;
    background-color: #171b21;
    border: none;
    border: 1px solid rgba(255, 255, 0, .5);
    border-radius: 5px;
    cursor: pointer;
}

[type="date"] {
    background: url('/MoviePass/Views/assets/img/calendar.png')  97% 50% no-repeat;
    background-color: #171b21;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.btn-f {
    background-color: transparent;
    color: #fff;
    border-style: none;
    border: 1px solid yellow;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;    
}

.container > .info {
    display: block;
    color: #919191;
    font-size: 3.3rem;
    font-weight: 300;
    word-spacing: 1rem;    
    margin: 12rem;
}

.movie-container {    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-height: 300px;    
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.movie-img {
    width: 200px;
    padding: .9rem;
    margin-bottom: 1rem;
}

.movie-img img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);    
}

.movie-info {    
    text-align: left;
    padding-top: 1rem;
    display: flex;    
    flex-direction: column;
    justify-content: center;      
}

.movie-info h3 {
    text-shadow: 2px 1px 7px rgba(0, 0, 25, 1);
}

.movie-info p {
    padding: 1rem;
}

.movie-info h3{
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.movie-cta,
.movie-cta a {
    display: flex;    
    justify-content: center;
    align-items: center;
}


/* LOGIN/REGISTER PAGE */
.login-container,
.register-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.login-img {    
    background-position: center;
    background-size: cover;
}

.login-content,
.register-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-brand {    
    position: relative;
    top: -6rem;
    font-size: 2rem;        
}

.sign-brand a > i {
    color: #fff;        
    font-style: normal;
}

.sign-header {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;       
}

.sign-header span {
    color: rgba(255, 255, 0, .5);
}

.sign-header h3,
.sign-header p {
    font-size: 1.5rem;
    font-weight: 700;
}

.sign-header p > a {
    color: yellow;
} 

.sign-header p > a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.login-form,
.register-form,
.search-container {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.login-form label,
.register-form label,
.search-container label {
    font-size: 1.5rem;    
    padding: 1rem;
    margin-bottom: 30px;
}

.register-form label {
    padding: 0;
}

.login-form input,
.register-form input,
.search-container input {
    width: 25rem;
    margin: 5px;
    padding: .6rem;
    background-color: #222831;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 0, .5);
    color: #fff;
}

.btn-l {
    background-color: transparent;
    color: #fff;    
    width: 10rem;
    height: 4rem;
    border: none;
    border: 1px solid yellow;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;            
    font-weight: 700;
    transition: all 300ms linear;
}

.btn-l:hover {
    background-color: yellow;   
    border: 1px solid #000;
    color: #000;
    
}

.btn-l i {
    font-size: 2.5rem;
    margin-right: 0.3rem;
}

.register-extra {    
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
}

.btn-fb {
    display: block;
    height: 3.5rem;
    width: 10rem;
    color: #fff;
    background-color: #4267b2;
    border: 1px solid #29487d;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-fb i {    
    margin-right: .5rem;
    font-size: 1.5rem;
}

.register-img {    
    background-position: center;
    background-size: cover;    
}

.hr-l {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: 20px;
}

.error-container {    
    margin: 2rem;
    width: 65%;
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;    
    border: 1px solid transparent;
    border-radius: .25rem;    
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 1.3rem;
}

.error-container i {
    font-size: 2rem;
    margin-right: 1.3rem;
}


/* Datasheet page*/
.title1_Style {    
    font-size: 2rem;     
    font-weight: 700;
}

.synopsis_Style {
    margin-top: 2%;
    color: #919191;
    font-size: 1.5rem;
    margin-bottom: 2%;    
}

.specification_Style {
    margin-left: 10%;
    display: inline-block;
    width:700px;    
}

.label_Style {
    font-size: 200%;
    color: #fff;
}

.label_Style i {
    font-size: 2rem;
}

.data_Style {
    margin-top: 1%;
    margin-left: 1rem;
    font-size: 150%;
    color: #919191;
}

.poster_Style {
    width:245px; 
    float:left;
    text-align: center;        
}

.poster_Style img {
    border-radius: 5px;    
    box-shadow: 3px 3px 7px 2px rgba(0,0,00.75);
}

.dataSheet_Style {
    margin-top: 8%;
    margin-left: 13%;
    margin-right: 8%;
    margin-bottom: 10rem;
    padding:3px;
}

.select_Style {
    width: 25rem;
    margin: 5px;
    padding: .6rem;
    background-color: #222831;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 0, .5);
    color: #fff;
}

.datasheet-video {
    height: 60rem;
    padding: 10rem;
    background-color: rgb(15, 15, 15);
    margin: 0 auto;
    text-align: center;
    clip-path: polygon(50% 7%, 50% 7%, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
}

.datasheet-video h4 {
    font-size: 2.5rem;
}

.synopsis-container {
    margin-bottom: 2rem;
}

.synopsis-container span {    
    border: 1px solid rgba(255, 255, 0, .2);
    border-radius: 5px;
    margin: .3rem;
    padding: .3rem;
}

.synopsis-extra {
    width: 90%;
    padding: 1rem;
    font-size: 1.5rem;
    display: grid;    
    grid-template-columns: 1.4fr 2fr;
    align-items: center;
    justify-content: space-between;
    row-gap: 2.5rem;    
}

.show-container {
    border-top: 1px solid rgba(255, 255, 0, .2);    
}

.show-container > h2 {
    margin: 4rem 0 4rem 0;
    font-size: 2rem;
}

.show-item {
    background-color: rgba(0, 0, 0, 0.2);    
    border-radius: 10px;
    margin-bottom: 5rem;        
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;    
    justify-content: center;
}

.show-content {
    border-right: 4px solid #222831;
    height: 13rem;    
    padding: 3rem 0 0 2rem;    
}

.show-content h2 {
    font-size: 1.7rem;
}

.show-content p {
    color: #919191;
    font-size: 1.45rem;
}

.show-ticket > a {    
    margin: 5rem;    
    color: #fff;
    border: 2px solid #fff;
    padding: 13px 20px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 300ms linear;
}

.show-ticket > a:hover {
    color: #171b21;
    background-color: #fff;
}


/* Purchase ticket */
.purchase-container {
    height: 600px;
    width: 85%;    
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-content: center;
    text-align: start;
    margin: 0 auto;
}

.purchase-form {
    margin: 0 auto;    
}

.purchase-form .register-form {
    padding: 1rem;    
}

.purchase-form h4 {
    font-size: 1.63rem ;
}

.card-container > input {    
    width: 5rem;
    margin: 2rem 0 0 0;
}

.purchase-seats {
    margin: 0 auto;
}

.show-info {    
    font-size: 1.4rem;
    margin-bottom: 8rem;
}

.cinema-name {    
    padding: 1rem;    
}

.show-complete-info {
    padding-left: 3rem;        
}

.show-complete-info h3 {
    font-weight: 200;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-left: 1px solid rgba(255, 255, 0, .2);
}

.show-total {    
    width: 60%;    
    margin: 3rem;
    text-align: center;
    border: 2px solid  rgba(255, 255, 0, .1);    
    padding: 2rem;
}

.show-total h3 {
    font-size: 2.5rem;
}



/* CINEMA SEATS - TEST */
.theatre {
    display: flex;
    position: relative;
    top: 25%;
    right: 20%;
    /* transform: translate(-50%, -50%); */
  }
  
  .cinema-seats {
    display: flex;
  }
  .cinema-seats .seat {
    cursor: pointer;
  }
  .cinema-seats .seat:hover:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
  }
  .cinema-seats .seat.active:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
  }
  
  .left .cinema-row {
    transform: skew(-15deg);
    margin: 0 6px;
  }
  .left .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    margin-bottom: 10px;
    transform: skew(20deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .left .row-2 {
    transform: skew(-13deg);
  }
  .left .row-2 .seat {
    transform: skew(18deg);
  }
  .left .row-3 {
    transform: skew(-12deg);
  }
  .left .row-3 .seat {
    transform: skew(16deg);
  }
  .left .row-4 {
    transform: skew(-11deg);
  }
  .left .row-4 .seat {
    transform: skew(15deg);
  }
  .left .row-5 {
    transform: skew(-10deg);
  }
  .left .row-5 .seat {
    transform: skew(12deg);
  }
  .left .row-6 {
    transform: skew(-9deg);
  }
  .left .row-6 .seat {
    transform: skew(10deg);
  }
  .left .row-7 {
    transform: skew(-7deg);
  }
  .left .row-7 .seat {
    transform: skew(8deg);
  }
  
  .right {
    margin-left: 70px;
  }
  .right .cinema-row {
    transform: skew(7deg);
    margin: 0 6px;
  }
  .right .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .right .row-2 {
    transform: skew(9deg);
  }
  .right .row-2 .seat {
    transform: skew(-10deg);
  }
  .right .row-3 {
    transform: skew(10deg);
  }
  .right .row-3 .seat {
    transform: skew(-12deg);
  }
  .right .row-4 {
    transform: skew(11deg);
  }
  .right .row-4 .seat {
    transform: skew(-15deg);
  }
  .right .row-5 {
    transform: skew(12deg);
  }
  .right .row-5 .seat {
    transform: skew(-16deg);
  }
  .right .row-6 {
    transform: skew(13deg);
  }
  .right .row-6 .seat {
    transform: skew(-18deg);
  }
  .right .row-7 {
    transform: skew(15deg);
  }
  .right .row-7 .seat {
    transform: skew(-20deg);
  }


  
/* Account page */
.account-head {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.account-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5rem;    
}

.img-account {    
    position: relative;
    top: -60%;    
}

.img-account img {
    width: 250px;
    border-radius: 10rem;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);    
}

.img-account > .btn-l {
    margin-top: 1rem;
    display: block;     
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.content-account {
    text-align: left;
}

.content-account > .item-account {    
    height: 7rem;
}

.content-account > .item-account > h2, p {
    display: inline-block;
    padding: 1rem;
}

.content-account > .item-account > h2 {
    width: 10%;    
}

.content-account > .item-account > p {
    position: relative;
    left: 10%;
    width: 60%;    
    border-bottom: 1px solid rgba(255, 255, 0, .5);    
}

